<div class="panelContainer" style="flex:1">
  <table style="height:100%;width:98%">
    <tr style="height:30px">
      <td>
        <h1>Produit non consolidé</h1>
      </td>
    </tr>
    <tr style="height:100px">
      <td>
        <div class="containerV">
          <div class="containerH">
            <div class="field">
              <label>identifiant</label>
              <div class="value" name="id"></div>
            </div>
            <div class="field">
              <label>source</label>
              <div class="value" name="source"></div>
            </div>
          </div>
          <div>
            <div class="containerH">
              <div class="field">
                <label>description</label>
                <div class="value" name="description"></div>
              </div>
              <div class="field">
                <label>type</label>
                <div class="value" name="type"></div>
              </div>
              <div class="field">
                <label>quantité</label>
                <div class="value" name="quantity"></div>
              </div>
              <div class="field">
                <label>unité</label>
                <div class="value" name="unit"></div>
              </div>
              <div class="field">
                <label>sku</label>
                <div class="value" name="sku"></div>
              </div>
              <div class="field">
                <label>total theoritical stock (supply)</label>
                <div class="value" name="totalTheoriticalStock"></div>
              </div>
              <div class="field">
                <label>stock limitation (catalog)</label>
                <div class="value" name="stockLimitation"></div>
              </div>
            </div>
          </div>
        </div>
    </tr>
    <tr style="height:100px">
      <td>
        <div class="containerH">
          <div class="field">
            <label>recherche sur la description</label>
            <input type="text" class="value" name="descriptionSearch"/>
          </div>
          <div class="containerH">
            <button id="filter">filtrer</button>
          </div>
        </div>
      </td>
    </tr>
    <tr style="height:30px">
      <td>
        <div class="containerH space-between">
          <h2>Associer cet import avec un produit du catalogue</h2>
          <div class="containerH">
            <button id="link">consolider</button>
            <button id="linkEmpty">nouveau produit</button>
          </div>
        </div>
      </td>
    </tr>
    <tr style="height:100%">
      <td>
        <div id="treeGrid">
        </div>
      </td>
    </tr>
  </table>
</div>
<style>

</style>
