
a{
  text-decoration: none;
  color: white;
  border-style: solid;
  border-color: black;
}

button{
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: var(--color-orange);
  color: white;
  border-style: solid;
  border-color: black;
  margin: 2px;
}

button:hover{
  cursor: pointer;
}

a:hover{
  color: var(--color-orange);
}

.box{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);
}

.panelContainer{
  padding: 10px;
}
.field .value{
  padding: 5px;
  border-bottom-style: solid;
  border-width: 1px;
}

.field {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hide{
  display:none !important;
}

#main{
  font-family: Arial, Helvetica, sans-serif;
}
