
a{
  text-decoration: none;
  color: white;
  border-radius: 4px;
}

button{
  text-transform: uppercase;
  /* font-size: 1.2em; */
  border-style:none;
  background-color: var(--color-orange);
  color: white;
  margin: 2px;
  border-radius: 4px;
}

button img {
  filter: invert(1);
}

.button-dx{
  background-color: var(--color-orange);
  border-radius: 4px;
  display : inline-block;
  padding : 4px;

}

.button-dx:hover{
  cursor: pointer;
}


.button-dx img {
  filter: invert(1);
}

button:hover{
  cursor: pointer;
}

a:hover{
  /* border-color: var(--color-orange);
  border-style:solid; */
}

.box{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.30);
}

.panelContainer{
  padding: 10px;
}
.field .value{
  padding: 5px;
  border-bottom-style: solid;
  border-width: 1px;
}
.field input.value{
  width: 100%
}

.field {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.hide{
  display:none !important;
}

#main{
  font-family: Arial, Helvetica, sans-serif;
}

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #939393;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  top: 0%;
  z-index: 1;
  margin-left: -15px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.4s;
}

/* Tooltip arrow optionnal */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #939393 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
