<div class="panelContainer" style="flex:1">
    <table style="height:100%;width:98%">
      <tr style="height:30px">
        <td>
          <h1>Catalogue des produits consolidés</h1>
        </td>
      </tr>
      <tr style="height:100px">
        <td>
          <div class="containerH">
            <div class="field">
              <label>recherche sur la description</label>
              <input type="text" class="value" name="descriptionSearch"/>
            </div>
            <div class="containerH">
              <button id="filter">filtrer</button>
            </div>
          </div>
        </td>
      </tr>
      <tr style="height:30px">
        <td>
          <div class="containerH space-between">
            <h2>Editer un produit de catalogue</h2>
            <div class="containerH">
              <button id="edit">éditer</button>
            </div>
          </div>
        </td>
      </tr>
      <tr style="height:100%">
        <td>
          <div id="treeGrid">
          </div>
        </td>
      </tr>
    </table>
</div>

<style>

</style>
