<div class="panelContainer" style="flex:1">
    <div class="containerH" style="justify-content:space-between">
      <div class="containerH">
        <div class="field">
          <input type="text" class="value" name="descriptionSearch"/>
        </div>
        <div class="containerH">
          <button id="filter"><img src="https://img.icons8.com/windows/32/000000/search--v1.png"/></button>
        </div>
      </div>
      <div class="containerH">
        <button id="export"><img src="https://img.icons8.com/pastel-glyph/48/000000/upload--v1.png"/></button>
      </div>
    </div>
    <div id="dxGrid"></div>
    <div id="dxDialog">
      <h1>create data from this app to a platform</h1>
      <div id="dxGridPlatform"></div>
    </div>
</div>

<style>

</style>
