<div class="panelContainer" style="flex:1">
    <table style="height:100%;width:98%">
      <tr style="height:30px">
        <td>
          <h1>Produits non consolidés</h1>
        </td>
      </tr>
      <tr style="height:30px">
        <td>
          <div class="containerH space-between">
            <h2>Editer un produit non consolidé</h2>
            <div class="containerH">
              <button id="edit">éditer</button>
            </div>
          </div>
        </td>
      </tr>
      <tr style="height:100%">
        <td>
          <div id="grid">
          </div>
        </td>
      </tr>
    </table>
</div>
<style>

</style>
