<div class="panelContainer" style="flex:1">
  <table style="width:98%">
    <tr style="height:30px">
      <td>
        <h1>Reconciled Platform product</h1>
      </td>
    </tr>
    <tr style="height:100px">
      <td>
        <div class="containerV">
          <div style="border-style:solid;border-width:thin;">
            <div class="field">
              <label>Supply product id</label>
              <div class="value" name="id_supply"></div>
            </div>
            <div class="field">
              <label>description</label>
              <input class="value" name="description"/>
            </div>
            <div class="field">
              <label>type</label>
              <div class="value" name="type"></div>
            </div>
            <div class="field">
              <label>quantity</label>
              <input class="value" name="quantity"/>
            </div>
            <div class="field">
              <label>unit</label>
              <div class="value" name="unit"></div>
            </div>
            <div class="field">
              <label>total theoritical stock (supply)</label>
              <input class="value" name="totalTheoriticalStock"/>
            </div>
            <div class="field">
              <label>brand</label>
              <input class="value" name="brand"/>
            </div>
            <div class="field">
              <label>claim</label>
              <input class="value" name="claim"/>
            </div>
            <div class="field">
              <label>percentage of Alcohol By Volume</label>
              <input class="value" name="hasPercentageOfAlcoholByVolume"/>
            </div>
            <div class="field">
              <label>image</label>
              <input class="value" name="image"/>
            </div>
            <div class="field">
              <label>lifetime</label>
              <input class="value" name="lifetime"/>
            </div>
          </div>
          <div style="border-style:solid;border-width:thin;">
            <div class="field">
              <label>Catalog item id</label>
              <div class="value" name="id_catalog"></div>
            </div>
            <div class="field">
              <label>stock limitation (catalog item)</label>
              <input class="value" name="stockLimitation"/>
            </div>
            <div class="field">
              <label>sku</label>
              <input class="value" name="sku"/>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="containerH space-between">
          <h2>Update data at source platform or refresh from it</h2>
          <div class="containerH flex-end">
            <button id="update">Update</button>
            <button id="refresh">Refresh</button
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="containerH space-between">
          <h2>test API sameAs</h2>
          <div class="containerH flex-end">
            <button id="sameAs">sameAs</button>
            <button id="sameAsSimple">sameAs simple</button>
          </div>
        </div>
        <textarea cols="100" rows="15" name="curl" ></textarea>
      </td>
    </tr>
  </table>
</div>
<style>
  label {
    height : 2em;
  }

  a {
    background-color: var(--color-orange);
    margin: 5px;
    padding: 5px;
  }
</style>
