<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>DFC proto V3.3</title>

  <!-- DevExtreme theme -->
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.6/css/dx.light.css">
  <!-- DevExtreme library -->
  <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.2.6/js/dx.all.js"></script>
  
  <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="./<%= htmlWebpackPlugin.files.js[index] %>"></script>
  <% } %>


</head>

<body>
  <x-service-catalog></x-service-catalog>
  <x-service-user></x-service-user>
  <x-test-api></x-test-api>

  <x-navigation>
    <style>
      <%=require('./style/containers.css') %>
      <%=require('./style/shared.css') %>
    </style>
  </x-navigation>
  <x-router default="x-home"></x-router>

</body>
<style>
<%=require('./style/colors.css') %>

</style>
</html>
