<div id="panelContainer">
  <div id="container">
    <div id="map"></div>
    <div class="inputContainer">
      <input type="number" id="hoursInput" placeholder="Enter hours" min="0" value="4">
      <span>H</span>
    </div>
    <!-- <button id="optimizeRouteButton">Optimize Route</button> -->
  </div>
  <div id="legendContainer">
  </div>
</div>
<style>
  #map {
    width: 100%;
    height: 100%; /* Vous pouvez ajuster la hauteur selon vos besoins */
  }
  #container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    flex-grow: 1; /* Allow the map container to grow */
  }
  #panelContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .inputContainer {
    display: flex;
    align-items: center;
  }
  #hoursInput {
    margin-right: 10px;
  }
  #legendContainer {
    flex-basis: 50%;
    height: 85vh;
    overflow-y: auto;
  }
</style>

