<div class="panelContainer box containerV" style="flex:1">
  <div>
    <h1>
      Test d'appel d'API avec Header OIDC (token)
    </h1>
  </div>


  <div>
    <input type="text" id="urlInput" name="urlInput" style="width:100%" placeholder="url à tester" />
  </div>
  <div class="containerH" style="justify-content:space-between">
    <div class="containerH">
      <button id="urlInit">
        remplir avec une url user
      </button>
      <button id="urlInit2">
        remplir avec une url entreprise JSON-LD
      </button>
      <button id="urlInit3">
        remplir avec une url entreprise LDP
      </button>
    </div>

    <button id="urlTest">
      test
    </button>
  </div>
  <div style="flex:0.5">
    <textarea id="header"  name="header" style="width:100%;height:100%;"></textarea>
  </div>
  <div style="flex:1">
    <textarea id="result"  name="result" style="width:100%;height:100%;"></textarea>
  </div>


</div>
<style>
  #main {
    background-color: grey;
  }
</style>
