<div class="containerV">
    <a href="#/x-import-catalog" screen="x-import-catalog">Data</a>
    <a href="#/x-catalog-import" screen="x-catalog-import">Product Links</a>
    <a href="#/x-catalog-supply" screen="x-catalog-supply">Catalog</a>
    <a href="#/x-orders" screen="x-orders">Orders</a>
</div>
<style>
  a {
    background-color: DarkGrey;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .current{
    background-color:white;
    color : black;
    border-style: solid;
  }


</style>
