<div class="containerV">

    <a href="#/x-import-catalog" screen="x-import-catalog">import</a>
    <a href="#/x-catalog-import" screen="x-catalog-import">reconciliation</a>
    <a href="#/x-catalog-supply" screen="x-catalog-supply">catalog</a>
    <a href="#/x-oidc-test" screen="x-oidc-test">test OIDC</a>

</div>
<style>
  a {
    background-color: grey;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .current{
    background-color:white;
    color : black;
  }


</style>
