<div class="panelContainer containerV" style="flex:1" >

  <h1>Import</h1>
  <p>Please select a platform below and click on "import".</p>
  <div class="containerV">
    <div class="field">
      <select class="value" id="source-select">
        <option value="">--Please select a source--</option>
      </select>
    </div>

    <div id="options">
    </div>
    <div>
      <button id="import-button">import</button>
    </div>

  </div>
  <h1>Reset</h1>
  <p>Do you want to remove all products from this prototype? Please click the button below:</p>
  <div>
    <button id="clean-button">Delete all products</button>
  </div>
</div>
<style>
  span {
    padding: 5px;
    font-size : small;
  }
</style>
