<div class="panelContainer containerV" style="flex:1" >

  <h1>Import</h1>
  <p>Veuillez sélectionner une plateforme ci-dessous et cliquer sur "importer".</p>
  <div class="containerV">
    <div class="field">
      <select class="value" id="source-select">
        <option value="">--Veuiller choisir une source--</option>
      </select>
    </div>

    <div id="options">
    </div>
    <div>
      <button id="import-button">importer</button>
    </div>

  </div>
  <h1>Suppression des produits</h1>
  <p>Vous souhaitez supprimer tous les produits du catalogue ? Veuillez cliquer sur le bouton ci-dessous :</p>
  <div>
    <button id="clean-button">Supprimer tous les produits</button>
  </div>
</div>
<style>
  span {
    padding: 5px;
    font-size : small;
  }
</style>
