<div class="panelContainer containerV" style="flex:1" >

  <h1>Import</h1>
  <p>Please select a platform below and click on import button below</p>
  <div class="containerH">
    <div class="field">
      <select class="value" id="source-select">
        <option value="">--Please select a source--</option>
      </select>
    </div>
    <div id="options">
    </div>
    <div>
      <button id="import-button"><img src="https://img.icons8.com/pastel-glyph/48/000000/download--v1.png"/></button>
    </div>

  </div>
  <h1>Reset</h1>
  <p>Do you want to remove all products from this prototype? Please click the button below</p>
  <div>
    <button id="clean-button"><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/48/000000/external-delete-multimedia-kiranshastry-lineal-kiranshastry.png"/></button>
  </div>
</div>
<style>
  span {
    padding: 5px;
    font-size : small;
  }
</style>
